<div class="col-md-9 mx-md-auto py-md-4">
    <div class="col-md-9 mx-md-auto flex h-96">
        <div class="col-md-8 width-full md:flex-col flex-row flex-wrap">
            <owl-carousel-o [options]="customOptions">

                @for (item of allProducts; track $index) {
                <ng-template carouselSlide>
                    <img [src]="item.imageCover" class="img-fluid h-96">
                </ng-template>
                }
            </owl-carousel-o>
        </div>
        <div class="col-md-6 h-96">
            <img class="img-fluid h-50" src="./assets/images/main-slider-2.jpeg">
            <img class="img-fluid h-50" src="./assets/images/main-slider-3.jpeg">
        </div>

    </div>
</div>
<div>

    <div class="width-full flex md:flex-col flex-row flex-wrap py-md-4">


        @for (item of allProducts ; track $index) {



        <div
            class="product relative w-1/5 py-2 flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl ">
            <div [routerLink]="['/productDetails', item._id]">
                <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96">
                    <img [src]="item.imageCover" alt="card-image" class="cursor-pointer object-cover w-full h-full" />
                </div>
                <div class="p-6">
                    <div class="flex items-center justify-between mb-2">
                        <p
                            class="block font-sans text-main text-base antialiased cursor-pointer  font-medium leading-relaxed text-blue-gray-900">
                            {{item.category.name}}
                        </p>


                    </div>
                    <p
                        class="block font-sans cursor-pointer text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
                        {{item.title}}
                    </p>
                    <div class="flex justify-between py-md-4">
                        <p
                            class="block text-main font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                            {{item.price}} EGP </p>
                        <p class="block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900">
                            <i class="fa-solid fa-star rating-color "></i>
                            {{item.ratingsAverage}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-6 pt-0 product">
                <button
                    class="bg-main  translate-y-1/2 text-white align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100"
                    type="button">
                    Add to Cart
                </button>
            </div>
        </div>
        }
    </div>
</div>